pandas
langchain
langchain_huggingface
langchain_community
langchain_openai
langchain-chroma
langchain-text-splitters
sentence-transformers
PyPDF2
python-dotenv
streamlit
fastapi
uvicorn
python-multipart
requests